server:
  port: 8082

spring:
  application:
    name: VEHICLE-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/vehicledb?createDatabaseIfNotExist=true
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
